* {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C3BABA;
}
header {
  background-color: #9A8F97;
 flex-direction: row;
 justify-content: space-around;
}
nav{
  background-color: #7C7A7A;
  flex-direction: row;

}
nav a {
  padding: 10px
}
section {
  background-color: #9A8F97;
}
footer{
  background-color: #7C7A7A;
  flex-direction: row;
}
article{
  flex-direction: row;
  background-color: #9A8F97;
  align-items: flex-start;


}
.lil-img {
  height: 80px;
  width: 80px;
  float: left;
}
